
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #cecece;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body.dark-mode {
    background: #000;
    color: #fff;
}

.favicon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.favicon-icon {
    font-size: 32px;
    color: #FFA500; /* Orange för solen */
}

body.dark-mode .favicon-icon {
    color: #FFF; /* Vit för månen */
}

.container {
    position: relative;
    width: 600px; /* Justera bredden efter behov */
    height: 600px; /* Justera höjden efter behov */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-frame {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.circle-frame img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.circle-frame:hover img {
    transform: scale(1.1);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 1s ease-in-out;
}

.welcome-text {
    margin: auto;
    text-align: center;
    margin-top: 330px;
    font-family: "Roboto", sans-serif;
}

/*Button settings below 👇*/

.button-container {
    margin: auto;
    gap: px;
}


body.dark-mode .link {
    color: #fff;
}

.dropbtn {
    margin: 15px;
    padding: 15px 25px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #202020;
    background-color: #f1f1f1;
    border: solid 2px #767777;
    border-radius: 20px;
    box-shadow: 0px 9px #414141;
  }
  
.dropdown:focus {
    outline: none;
}

.dropdown button:active {
    color: #202020;
    background-color: #f1f1f1;
    border: solid 2px #767777;
    border-radius: 20px;
    box-shadow: 0px 4px #414141;
    transform: translateY(4px);
    transition: transform .3s ease-out;
}
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    margin-left: 52px;
    margin-top: 12px;
    position: absolute;
    background-color: #414141;
    border: solid 2px #767777;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #414141;
    z-index: 1;
  }
  
.dropdown-content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 1px;
	border: 20px solid transparent;
	border-bottom-color: #414141;
	border-top: 0;
	border-left: 0;
	margin-left: -10.5px;
	margin-top: -20px;
    border-radius: 1px;
    overflow: top;
}


.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown a:hover {
    background-color: rgb(106, 106, 106);
    border-radius: 5px;
}
  
.show {display: block;}

.colab-img {
    width: 30px;
    height: 18px;
}

/*cookie settings*/

.cookie-banner {
    bottom: 0;
    width: 50%;
    background-color: #525252;
    color: white;
    text-align: center;
    padding: 7px;
    display: none;
    border-radius: 20px 20px 20px 0px;
}

.cookie-banner p {
    margin: 0;
}

.cookie-banner button {
    margin-left: 10px;
    color: rgb(152, 152, 152);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#acceptCookies {
    margin: 15px;
    padding: 9px 15px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #202020;
    background-color: #f1f1f1;
    border: solid 2px #767777;
    border-radius: 10px;
    box-shadow: 0px 9px #414141;
}

#acceptCookies:active {
    box-shadow: 0px 4px #414141;
    border-radius: 10px;
    transform: translateY(4px);
    transition: transform .2s ease-out;
}

#acceptCookies:hover {
    background-color: #e4e4e4ad;
    color: white;
}

.cookie-text {
    
    text-align: center;
    font-family: "Roboto" sans-serif;
    font-size: 12px;
}


#cookieBanner {
    padding: 20px;
    position: fixed;
    bottom: 10px; /* Adjust if you want it closer or further from the bottom */
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

.collapsible {
  background-color: #777;
  display: block;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;  
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}